<mat-card>
    <mat-card-header>
        <mat-card-title>Post New Messages</mat-card-title>
    </mat-card-header>
    <form>
        <mat-form-field class="example-full-width">
            <textarea name="message" [(ngModel)]="message" matInput placeholder="messgae body"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>user name</mat-label>
            <input matInput name="userName" [(ngModel)]="userName" placeholder="userName">
        </mat-form-field>
    </form>
    <mat-card-actions>
        <button (click)="post()" mat-button>Post</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Messages</mat-card-title>
    </mat-card-header>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let msg of messages">{{msg.msg}}</mat-list-item>

    </mat-list>
</mat-card>